# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Sensitive API Keys & local config
.env
data/config.json

# Logs & System
*.log
push-to-github.bat
.system_generated/
.DS_Store
Thumbs.db
